<h1 class="title">
  ${_station.name}
</h1>

<div class="columns">

  <div class="column is-align-items-stretch">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h3>Location</h3>
          ${_station.name} <br>
          Lat: ${_station.latitude} <br>
          Lon: ${_station.longitude} <br>
          <i class="fa fa-location-dot"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h3>Weather</h3>
          No readings<br>
          <i class="fa-solid fa-cloud"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h3>Temperature</h3>
          No readings<br>
          <i class="fa fa-temperature-three-quarters"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h3>Wind</h3>
          No readings<br>
          <i class="fa fa-wind"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h3>Pressure</h3>
          No readings<br>
          <i class="fa fa-gauge"></i>
        </div>
      </div>
    </div>
  </div>

</div>


<p>No readings available, add readings below.</p>