<h1 class="title">
  ${_station.name}
</h1>
<div class="columns">
  <!--Location card-->
  <div class="column is-align-items-stretch">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <span class="icon">
            <i class="fa fa-location-dot fa-2x"></i>
          </span>
          <h3>Location</h3>
          ${_station.name} <br>
          Lat: ${_station.latitude} <br>
          Lng: ${_station.longitude} <br>
        </div>
      </div>
    </div>
  </div>
  <!--Weather conditions card-->
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <span class="icon">
            <i class="fa ${_station.latestReading().selectIconForConditions()} fa-2x"></i>
          </span>
          <h3>Weather</h3>
          ${_station.latestReading().describeConditions()}<br>
        </div>
      </div>
    </div>
  </div>
  <!--Temperature card-->
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <span class="icon">
            <i class="fa fa-temperature-three-quarters fa-2x"></i>
          </span>
          <h3>Temperature</h3>
          ${_station.latestReading().getTemperature()} °C<br>
          ${_station.latestReading().convertToFahrenheit()} °F<br>
          Min: ${_station.getMinTemperature()} °C<br>
          Max: ${_station.getMaxTemperature()} °C<br>
          <br>
          <span class="icon">
          <i class="fa ${_station.selectTemperatureArrowTrend()} fa-2x"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!--Wind card-->
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <span class="icon">
            <i class="fa fa-wind fa-2x"></i>
          </span>
          <h3>Wind</h3>
          ${_station.latestReading().getBeaufortScale()} bft <br>
          ${_station.latestReading().labelBeaufort()} <br>
          ${_station.labelWindDirection()} <br>
          Min: ${_station.getMinWindSpeed()} kmph<br>
          Max: ${_station.getMaxWindSpeed()} kmph<br>
          Feels like: ${_station.labelWindChill()} °C<br>
          <br>
          <span class="icon">
          <i class="fa ${_station.selectWindArrowTrend()} fa-2x"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!--Air pressure card-->
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <span class="icon">
            <i class="fa fa-gauge fa-2x"></i>
          </span>
          <h3>Pressure</h3>
          ${_station.latestReading().getPressure()} hPa<br>
          Min: ${_station.getMinPressure()} hPa<br>
          Max: ${_station.getMaxPressure()} hPa<br>
          <br>
          <span class="icon">
          <i class="fa ${_station.selectPressureArrowTrend()} fa-2x"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>