#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<div class="content box">

  <h1 class="title">
    ${station.name}
  </h1>

  <div class="columns">

    <div class="column is-align-items-stretch">
      <div class="card">
        <div class="card-content">
          <div class="content has-text-centered">
            <h3>Location</h3>
            ${station.name} <br>
            <span class="material-icons"> place </span>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content has-text-centered">
            <h3>Weather</h3>
            ${station.latestReading().describeConditions()}<br>
            <i class="wi wi-rain"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content has-text-centered">
            <h3>Temperature</h3>
            ${station.latestReading().getTemperature()} °C<br>
            ${station.latestReading().convertToFahrenheit()} °F<br>
            <i class="wi wi-thermometer"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content has-text-centered">
            <h3>Wind</h3>
            ${station.latestReading().getBeaufortScale()} bft <br>
            ${station.latestReading().getBeaufortLabel()} <br>
            <i class="wi wi-strong-wind"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content has-text-centered">
            <h3>Pressure</h3>
            ${station.latestReading().getPressure()} hPa<br>
            <i class="wi wi-barometer"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
  #{listreadings station:station/}

</div>
#{/list}