#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="columns  is-vcentered">
  <div class="column is-half">
    <div>
      <p class="title has-text-centered">
        Weather App
      </p>
      <p class="has-text-centered">
        This app is the web companion app for the WeatherTop 1000 device,
        allowing you to monitor the latest weather station readings.
      </p>
    </div>

  </div>
  <div class="column is-half tile">
    <div class="box">
      <figure class="image">
        <img src="/public/images/bluesky.jpg">
      </figure>
    </div>
  </div>
</div>
