#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{logged_in_menu id:"dashboard"/}

<div class="content box">
<header class="is-size-4 title is-capitalized">
${member.firstname} ${member.lastname}'s WeatherTop stations
</header>

#{if stations.size() == 0}
#{nostations /}
#{/if}

#{list items:stations, as:'station'}
  #{if station.latestReading() != null}
    #{stationsummary station:station/}
  #{/if}
  #{else}
    <!-- No Stations -->
    #{noreadings station:station/}
  #{/else}

  <a href="/stations/${station.id}" class="icon has-text-primary">
    <i class="fas fa-folder"></i>
  </a>
  <a href="/dashboard/deleteStation/${station.id}" class="icon has-text-danger">
    <i class="fas fa-trash"></i>
  </a>
#{/list}

#{addstation station:station/}
</div>