#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{logged_in_menu id:"dashboard"/}

<div class="content box">
  <h1 class="title is-capitalized">
  ${member.firstname} ${member.lastname}'s Dashboard
  </h1>

#{if stations.size() == 0}
  #{nostations /}
#{/if}

#{list items:stations, as:'station'}
  #{if station.latestReading() != null}
    #{stationsummary station:station/}
  #{/if}
  #{else}
    <!-- No Stations -->
    #{noreadings station:station/}
  #{/else}

  <a href="/stations/${station.id}" class="button is-normal is-responsive">
    <i class="fas fa-folder"></i>&nbsp; Open
  </a>
  <a href="/dashboard/deleteStation/${station.id}" class="button is-normal is-responsive">
    <i class="fas fa-trash"></i>&nbsp; Delete
  </a>
#{/list}

#{addstation station:station/}
</div>