#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{menu id:"dashboard"/}

<section class="box">
<header class="title is-capitalized">
  ${member.firstname} ${member.lastname}'s WeatherTop stations
</header>
<table class="table is-striped is-fullwidth">
  <thead>
  <tr>
    <th>Weather Station</th>
    <th>View Station</th>
    <th>Delete Station</th>
  </tr>
  </thead>
  <tbody>
  #{list items:stations, as:'station'}
  <tr>
    <td>${station.name}</td>
    <td>
      <a href="/stations/${station.id}" class="icon has-text-primary">
        <i class="fas fa-folder"></i> </a>
    </td>
    <td>
      <a href="/dashboard/deleteStation/${station.id}" class="icon has-text-danger">
        <i class="fas fa-trash"></i>
      </a>
    </td>
  </tr>
  #{/list}
  </tbody>
</table>
</section>

#{addstation station:station/}