#{extends 'main.html' /}
#{set title:'login' /}
#{welcomemenu id:"login"/}

<section class="content box has-text-left">
  <div class="columns">
    <div class="column is-half">
      <form action="/authenticate" method="POST">
        <h2 class="title">Log-in</h2>
        <div class="field">
          <label class="label">Email</label>
          <input placeholder="Email" name="email">
        </div>
        <div class="field">
          <label class="label">Password</label>
          <input placeholder="Password" type="password" name="password">
        </div>
        <button class="button">Login</button>
      </form>
    </div>
    <div class="column is-half">
      <figure class="image">
        <img src="/public/images/weather-station.png">
      </figure>
    </div>
  </div>
</section>
