#{extends 'main.html' /}
#{set title:'Welcome' /}

#{menu id:"start"/}

<div class="columns  is-vcentered">
    <div class="column is-half">
        <div>
            <p class="title has-text-centered">
                Weather App
            </p>
            <p class="has-text-centered">
                A small app to view weather station data.<br>
                Add your own weather station on the Dashboard.<br>
                Then add your readings and see the latest weather for that location.
            </p>
        </div>

    </div>
    <div class="column is-half tile">
        <div class="box">
            <figure class="image">
                <img src="/public/images/weather-station.png">
            </figure>
        </div>
    </div>
</div>
