#{extends 'main.html' /}
#{set title:'Welcome' /}
#{welcomemenu id:"start"/}
<div class="columns  is-vcentered">
  <div class="column is-half">
    <div>
      <p class="title has-text-centered">
        Weather App
      </p>
      <p class="has-text-centered">
        A small app to view weather station data.<br>
        <a href="/login">Log in</a> or <a href="/signup">sign up</a>.<br>
      </p>
    </div>
  </div>
  <div class="column is-half tile">
    <div class="box">
      <figure class="image">
        <img src="/public/images/weather-station.png">
      </figure>
    </div>
  </div>
</div>
